# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/spring_mini
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# Authentication (JWT Secret - Base64 encoded)
# Example: openssl rand -base64 64
JWT_SECRET=FVPr6Q/fVlHGZkElZubC0Zaxv657dPUfDQ4o9DADjSin7+uST1d2A5klMWrMK8fmSl3doyf2wn5zj56VC+qqCg==

# Unified File System (RustFS)
RUSTFS_URL=http://localhost:9001
RUSTFS_ACCESS_NAME=your_rustfs_access_key
RUSTFS_ACCESS_SECRET=your_rustfs_secret_key

# Redis Caching
REDIS_HOST=localhost
REDIS_PORT=6379

# Email Service (SMTP)
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_app_password
